/* CNIT195 Math App3 Base CSS Stylesheet */


* {
  box-sizing: border-box;  
}


body { 
  background-image: url(images/svg_bg1.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;  
}


header {
  background-color: lightpink;
  border-radius: 1em;
  margin-bottom: .5em;  
  display: flex; /* setup Flexbox container */
  flex-flow: row wrap;
  justify-content: space-evenly;
}


nav {
  display: flex; /* setup Flexbox container */
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin-bottom: .5em;
  font-family: Arial, Helvetica, sans-serif;
}

.btnbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5em;
}


div.pill { /* makes area for User Name and links */
  display: flex;
  align-items: center;
  border: 1px solid skyblue;
  border-radius: .5em;
  padding: .5em 1.5em; /* first top/bottom second right/left */
}

div.pill_btn { /* makes navigation "buttons" for links */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  border: 1px solid skyblue;
  border-radius: .5em;
  padding: .5em 1.5em;
}

#koala{
  transform: rotate(40deg);
  width: 30vmin;
  position: absolute;
  left: calc((100% - 30vmin)/2 + 3vmin);
  top: 40%;
}
main {
  display: flex; /* setup Flexbox container */
  flex-flow: column wrap;
  margin-bottom: .5em; 
  min-height: 60vh;
}

#mainA, #mainB { /* setup columns in main body */
  width: 96%;
  background-color: white;
  border:1px solid transparent;
  border-radius: 15px;
  box-shadow: 2px -2px 5px gray,-2px 2px 5px gray;
  padding: 20px;
  margin-bottom: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#mainA{
  background-image: url(images/bg1.png);
  background-size: cover;
  position: relative;
}

#mainB{
  background: rgb(245,242,242);
  background: radial-gradient(circle, rgba(245,242,242,1) 50%, rgba(14,226,231,0.7206232834930848) 100%);
}
#mainA p,#main_title,.about p{
  width: 60%;
  margin: auto;
  text-align:justify;
}
#koala2{
  width: 20%;
  position: absolute;
  left: 0;
  bottom: 0;
}




footer {
  background-color: lightpink;
  border-radius: 1em;
  padding: 5px 20px;
  font-size: .9em;
  display: flex; /* setup Flexbox container */
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.break { /* the class creates a horizontal break in a flex container */
  flex-basis: 100%;
  height: 0;
}


#footMid {
  text-align: center;
}

.footSocial {
  width: 40px;
  height: 40px;
  margin: 1em;  
}


/* BEGIN mobile layout settings 767px wide and below */
@media screen and (max-width: 767px) {
    
  nav, header {
    text-align: center;
  }
    
  .NoDisplayMobile { 
    display: none;
  }
  
  div.pill_btn {
    flex: 1;
  } 
  div.pill {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  main {
    align-items: center;
    text-align: center;
  }
  
  #footLeft, #footRight {
    text-align: center;
    width: 50%;
    order: -1;
  }

  #footMid {
    order: 2;
  }
  #koala{
    display: none;
  }
 
 
}  /* END mobile layout settings 767px wide and below */



/* BEGIN tablet layout settings 768px wide and higher */
@media screen and (min-width: 768px) {
  header, nav, main, footer {
    flex-direction: row;
  }
  
  nav {
    flex-wrap: nowrap;
  }
  
  .btnbar {
    flex: 2;
    margin-bottom: 0em;
  }
  
  div.pill_btn {
    flex: 1;
  } 
  div.pill {
    flex: 1;
  }
  
  main {
    justify-content: space-between;
  }

  #mainA, #mainB { /* setup columns in main body */
    width: 49%; 
    text-align: center;
  }

  .break {
    display: none;
  }

  #footLeft {
    flex: 25%;
  }
  
  #footMid {
    flex: 50%;
  }
  
  #footRight {
    flex: 25%;
    text-align: right;
  }
  #practice_mode,#quiz_mode{
    border-style: solid;   
  }
  .select_operation button, .select_amount button{
    border-style: solid;
  }
  
  
}  /* END tablet layout settings 768px wide */


/* BEGIN desktop layout settings 1024px wide and higher*/
@media screen and (min-width: 1024px) {
  header, nav, main, footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

}  /* END desktop layout settings 1024px wide */

/* Start switch user dialog*/
.form_submit{
  text-align: center;
}
.dialog{
  width: 100%;
}
.dialog div{
  background-size:contain;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  display: block;
  line-height: 100px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100px;
  margin:5px;
  background-color: #eb9f12;
}
/* End switch user dialog*/

/* Start game page  */


#quiz_mode,#practice_mode,.select_operation button, .select_amount button,#c_submit:hover,#c_skip,#c_next,.c_option p,#c_go,.start_btn,.form_submit input {
  cursor: pointer;
}


.start_btn{
  margin-top: 20px;
}

.c_btn,
.c_infoBar {
  margin-top: 2vw;
  font-size:calc(12px + 1vw);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c_status{
  width: 60%;
}
.game_page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.c_status span{
  display: inline-block;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  
}
.c_msg{
  text-align: center;
  margin-bottom: 15px;
}

.c_msg p{
  width: 100%;
  padding:10px;
  border-radius: 10px;
  
}
.start_btn,
#c_main,
#c_profile,
#c_submit,
#c_skip,
.form_submit input,
#score_again
{
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  font-size:20px;
  border: 1px solid black;
  text-align: center;
  background-color: bisque;
  color: black;
  padding: 5px;
  text-decoration: none;
  border-radius: 12px;
  box-shadow: 0 6px rgb(201, 201, 206);
}
.start_btn:active,
#c_main:active,
#c_profile:active,
#c_submit:active,
#c_skip:active,
.form_submit input:active,
#score_again:active{
  box-shadow: 0 2px rgb(127, 127, 131);
  transform: translateY(4px);
}

#c_next{
  font-size:20px;
  border: none;
  text-align: center;
  background-color: transparent;
  box-shadow: 2px 2px 2px 2px lightseagreen,-2px -2px 2px 2px lightseagreen;
  color: black;
  padding: 5px;
  border-radius: 12px;
  animation:btn 0.5s linear infinite;
  margin-top: 0;
}
@keyframes btn{
  0%{
    box-shadow:-8px 2px 2px 2px lightseagreen
  }
  50%{
    box-shadow:2px 8px 2px 2px lightseagreen
  }
  75%{
    box-shadow:8px 2px 2px 2px lightseagreen
  }
  100%{
    box-shadow:2px -8px 2px 2px lightseagreen
  }
}
.c_option {
  width: 100%;
  height: calc(50px + 1vw);
  margin: 2vw auto;
  overflow: visible;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vw;
}

#c_hole,
.c_option>p {
  width: calc(50px + 1vw);
  height: calc(50px + 1vw);
  font-size:calc(16px + 1vw);
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_screen {
  width: 100%;
  font-size:calc(20px + 1vw);
  border-radius: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c_screen div{
  height: 50%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_ans {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:1vw 0;
}
#c_submit{
  margin-left: 10px;
}
@keyframes openBox {
  
  100%{
    background-image:url('images/open_box.png')
  }
}

@keyframes closeBox {
  
  100%{
    background-image:url('images/box.png')
  }
}
#avatar_option img:hover{
  background-color: #eb9f12;
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar{
  margin-right: 10px;
}
#new_player,#logout{
  font-size:xx-small;
  border: 1px solid black;
  border-radius: 10px;
  padding:2px 4px;
  background-color:bisque;
  text-decoration: none;
}
.selected_bg{
  background-color: yellow;
}
#mainB td,#mainB th{
  font-size:150%;
}
#complete_quiz{
  width: 100%;
}

/* End game page */